* {
	margin: 0;
	padding: 0;
}
html {
		background: linear-gradient(-45deg, rgba(0, 130, 230, 0.2), rgba(0, 130, 230, 0)),
					linear-gradient(45deg, rgba(165, 110, 190, 0.2), rgba(165, 110, 190, 0));
					
	}
body {
	width: 70%; /* page content fills 70% of page width*/
	margin: 0 auto; /* top/bottom left/right */
	font: 100% Tahoma, Geneva, sans-serif; /*100% is basically same as 1em*/
}
#mainTitle {
	font-family: Palatino, serif; /*following fonts are fallbacks*/
	font-size: 1em; /*2 times default size of text on browser*/
	font-weight: normal; /*unbolds automatically bolded headings*/
	color: midnightblue;
	margin: 1em 0 .4em; /*top left/right bottom*/
	text-align: center;
	background: cadetblue;
	overflow: hidden;
}
nav ul {
	list-style-type: none; /*removes bullet points*/
	display: inline-block; /*makes sure that future text doesn't wrap onto images*/
	width: 100%;
}
nav li {	/* Used to crop images*/
	display: inline-block;
	position: relative;
	left: 9.5%; /* (100-25-25-25-6)/2 */
	width: 25%;
	height: 25%;
	margin: 2% 1%;
}
.imageContainer {
	max-height: 275px;
	overflow: hidden;
}
nav li img {
	width: 100%;
	height: auto;
}
.imageLabel {
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	background: wheat;
	border-radius: 10px;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
}
article p {
	line-height: 1.4; /*spacing between lines*/
	text-align: justify;
	width: 70%;
	margin: 0;
	margin-bottom: 1em; /*zero on alls margin but then setting bottom to 1*/
}
dt {
	font-weight: bold;
	margin: 0.5em 0;
}
dd {
	width: 70%;
}
footer {
	text-align: center;
	margin: 0 0 3em;
	color: midnightblue;
	background: cadetblue;
}
a {
	color: orangered;
	text-decoration: none;
}

a:hover {
	color: steelblue;
}

img:hover {
	opacity: 0.7;
}