* {
	margin: 0;
	padding: 0;
}
html {
		background: linear-gradient(-45deg, rgba(0, 130, 230, 0.5), rgba(0, 130, 230, 0) 70%),
					linear-gradient(45deg, rgba(165, 110, 190, 0.5), rgba(165, 110, 190, 0) 70%);
					
	}
body {
	width: 70%; /* page content fills 70% of page width*/
	margin: 0 auto; /* top/bottom left/right */
	font: 100% Tahoma, Geneva, sans-serif; /*100% is basically same as 1em*/
}
header {
	font-family: Palatino, serif; /*following fonts are fallbacks*/
	font-size: 1em; /*2 times default size of text on browser*/
	font-weight: normal; /*unbolds automatically bolded headings*/
	margin: 1em 0 .4em; /*top left/right bottom*/
	padding: 1em 0;
}
#mainTitle {
	text-align: center;
	color: midnightblue;
	background: cadetblue;
}
section {
	margin: 2em 0;
}
hr {
	margin: 1em 0;
	height: 3px;
	border-style: none;
	background-color: maroon;
}
nav ul {
	list-style-type: none; /*removes bullet points*/
	width: 100%;
}
nav li {	/* Used to crop images*/
	display: inline-block;
	position: relative;
	left: 9.5%; /* (100-25-25-25-6)/2 */
	width: 25%;
	height: 25%;
	margin: 2% 1%;
}
.imageContainer {
	max-height: 275px;
	overflow: hidden;
}
nav li img {
	width: 100%;
	height: auto;
}
.imageLabel {
	font-size: 1.7em;
	font-weight: bold;
	text-align: center;
	background: wheat;
	border-radius: 10px;
}
h2 {
	font-size: 1.5em;
	font-weight: bold;
}
article p {
	font-size: 1.1em;
	line-height: 1.4; /*spacing between lines*/
	text-align: justify;
	margin: 0.5em 0; /*zero on alls margin but then setting bottom to 1*/
}
#intro {
	width: 50%;
}
footer {
	text-align: center;
	width: 50%;
	margin-bottom: 3em;
	margin-left: auto;
	margin-right: auto;
	padding: 1em 0;
	color: midnightblue;
	background: cadetblue;
}
a {
	color: orangered;
	text-decoration: none;
}

a:hover {
	cursor: pointer;
	color: steelblue;
}

nav li img:hover {
	opacity: 0.7;
}
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 2em;
	width: 60%;
}
.label {
	text-align: center;
	margin: 0.1em 0 0.5em;
	font-weight: bold;
}
.doubleList {
	display: inline-block;
	vertical-align: top;
	width: 45%;
}
.doubleRowImage {
	display: inline-block;
	position: relative;
	margin: 0 2%;
	left: 16%;
	vertical-align: middle;
	width: 30%;
}
.doubleColImage {
	display: block;
}
.doubleColLabel {
	display: block;
	margin-bottom: 35%;
}
.home {
	font-size: 1.5em;
	text-decoration: underline;
}